i {
  color: #EC4392;
}


body {
  font-family: sans-serif;
   margin: 0;
   background: #CDD6DE;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

p {
  text-align: center;
  margin-bottom:60px;
}

h4{
  text-align:center;
  line-height:80px;
  font-weight:normal;

}

a {
  color: #EC4392;
}

a:hover {
  text-decoration: none;
  color: #EC4392;
}
